html {
    font-size: 62.5%;
  }
  
body {
    background: whitesmoke;
}

#app { 
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    margin: $s-size $s-size;
    display: flex;
  }

  
  #app > * {
    flex: 1 100%;
  }

  .app {
      width:100%;
  }

  button {
    cursor: pointer;
  }
  
  button:disabled {
    cursor: default;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

  .content-container {
    margin-left: 4rem;
  }
  